.titulo-form {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.section-hero {
  min-height: 620px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.container-hero {
  width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 4px;
}

.opcao-form {
  height: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: end;
  gap: 25px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.btn-form {
  width: 87px;
}
