.btn-semborda {
  border: none;
  outline: none;
  box-shadow: none;
  color: #fff;
  font-weight: bold;
  width: 230px;
  height: 38px;
  border-radius: 4px;
}

.btn-semborda:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.btn-cadastro {
  color: #fff;
  background: #009951;
}

.btn-cadastro:hover {
  color: #009951;
  background: #fff;
  border: 1px solid #009951;
}

.btn-atualizar {
  color: #fff;
  background: #7b9701;
}

.btn-atualizar:hover {
  color: #7b9701;
  background: #fff;
  border: 1px solid #7b9701;
}

.btn-lista-voluntarios {
  color: #fff;
  background: #7bb1e2;
}

.btn-lista-voluntarios:hover {
  color: #7bb1e2;
  background: #fff;
  border: 1px solid #7bb1e2;
}

.titulo-form {
  text-align: center;
  margin-bottom: 20px;
}

.section-hero {
  min-height: 620px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
}
.container-hero {
  border: 1px solid blue;
  width: 1000px;
}

.opcao-form {
  height: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: end;
  gap: 25px;
  padding-right: 15px;
}

.btn-form {
  width: 87px;
}
